/*header styles*/

.logo {
	color: #FA6980;
	display: inline-block;
	margin-top: 18px;
	margin-left: 20px;

}
.nav-li {
	display: inline-block;
	margin-right: 150pxs;
	margin-bottom: 18px;
}
.navigation {
	display: inline-block;
	margin: 0 auto;
}
.img1 {
	vertical-align: middle;
	margin-left: 40px;
}
.home {
    vertical-align: center;
	margin-left: 93px;
	margin-top: 10px;
	margin-bottom: 18px;
}
.dis {
    vertical-align: center;
	margin-left: 27px; 
}
.pho {
    vertical-align: center;
	margin-left: 22px;
}
.con {
    vertical-align: center;
	margin-left: 22px;
}

/*section-1*/
.T-02 {
	color: red;
}
.sect-1 {
	width: 1160px;
	height: 410px;
	margin-left: 140px;
	margin-top: 25px;
}


.block-01,
.block-02, 
.block-03 {
	width: 360px;
    height: 350px;
	display: inline-block;
	background: #FFFFFF;
	margin-top: 40px;
	position: relative;
}

.block-02 {
	margin-right: 40px;
	margin-left: 40px;
}

.block-text {
margin: 0 auto;
margin-top: 66px;
width: 280px;
height: 38px;
}

 .T-1 {
 	position: absolute;
	top: 28px;
	left: 40px;
	width: 280px;
	height: 16px;
	font-size: 16px;
    color: #FFFFFF;
 }
/*section-2*/
.section-2 {
	display: inline-block;
	margin-bottom: 234px;
}

.T-03 {
	width: 770px;
	height: 20px;
	color: red;
	margin-left: 140px;
	margin-top: 58px;
	margin-bottom: 40px;
}

.left-block {
	width: 760px;
	height: 900px;
	margin-left: 140px;
	position: relative;
	display: inline-block;
}

.S2-Text1 {
	position: absolute;
	left: 569px;
	top: 394px;
	width: 280px;
	height: 16px;
	color: #FFFFFF;
}
.Trail-img {
	margin-top: 40px;
}

.right-block {
	width: 360px;
	height: 896px;
	position: relative;
	display: inline-block;
	margin-left: 40px;
}

.S2-Text2 {
	position: absolute;
	top: 18px;
	left: 40px;
	right: 40px;
	width: 280px;
	height: 16px;
	color: #FFFFFF;
}
.bird-img {
	margin-top: 102px;
	margin-bottom: 102px;
}
.way-img {
	margin-bottom: 62px;
}
